.main-post.single-post{
  .post-header{
    .post-meta{
      ul{
        margin: $gutter-content 0;
        li{display: inline-block;}
      }
    }
  }
  .post-content{padding: $gutter-content;}
}

.single{
  .post-navigation{
    margin-bottom: $gutter-content;
    .screen-reader-text{display: none;}
    .nav-previous{}
  }
}
