.container{
  position: relative;
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

.content{
  margin: 0 auto;
  display: block;
  padding: $gutter 0;
  width: 80%;
  @include responsive-mobile{
    width: $content-mobile;
  }
  @include responsive-tablet{
    width: $content-tablet;
  }
  @include responsive-notebook{
    width: $content-notebook;
  }
  @include responsive-ultrabook{
    width: $content-ultrabook;
  }
  @include responsive-desktop{
    width: $content-desktop;
  }
}

.clear{
  clear: both;
}
