html,
body{
  max-width: 100%;

  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;

  font-family: $font-normal;
  line-height: $size-p * 1.5;

  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

/* listas */
ul,
ol{
  list-style: none;
}

/* imagens */
img{display: block; height: auto; max-width: 100%; vertical-align: middle; border: 0;}

/* formulários */
input,
textarea{font-size: $size-small; font-family: $font-normal;}
